.circle{
    border-radius: 50%;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: green;
}
.newcircle{
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
}